.sub_div {
	width: 35em;
	margin: -100px auto 0 auto;
	font-family: Verdana, Arial, sans-serif;
	align-items: center;
}

.sight {
	color: fff;
	display: flex;
	margin-top: 800px;
	font-size: 15px;
	transform: translate(-50%, -50%);
}