/* Prends toute la taille de l'écran */
html
{
	height: 100%;
}

/* body =  ce qui est visible dans l'écran */
body
{
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;	/* police */
	font-size: 15px;						
	line-height: 1.6; 						/* hauteur de ligne = 1,6x la taille de la police */
	color: #333;
	display: flex;							/* disposition flexbox */
	align-items: center;
}

*, /* sélectionne tous les éléments HTML de la page web */
*:before,
*:after {
	box-sizing: border-box; /* H&L des éléments sont calculés en incluant la taille du bord 
							   et du rembourrage (padding) de l'élément*/
}

/* Espacement entre haut et interface (CGI...) */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.intro {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100vh;
	background: url(../images/kebab_salad_tomato_onions.png) center no-repeat; /* center no-repeat = Desert_UAE.jpeg centré et affiché qu'une fois */
	background-size: cover; /* cover = l'arrière plan couvre tout */
}

.intro__inner
{
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}

/* Gestion de "Welcome to 42Paris*/
.intro__title {
	font-size: 80px;
	font-weight: 700;
	height: 65vh;
	text-transform: uppercase;
	color: white;
	text-align: center;
	line-height: 1;
}

/* Gestion de "Webserv Airline"*/
.inner__uptitle {
	font-size: 48px;
	color: white;
	font-family: 'Kaushan Script', cursive; /* Si Kaushan Script pas dispo sur ordi user --> alternative automatique*/
	text-align: center;
	margin-bottom: 20px;
}

/* haut du site (HOME, SERVICE...)*/
.header {
	display: block;
	width: 100%;
	padding-top: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
}

/*  Couleur qui s'affiche quand on passe sur le HOME... */
.header__inner:hover {
	color: #fce38a;
}

.header__inner:hover::after {
	display: block;
	opacity: 1;
} 

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 24px;
	position: relative;
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition: color .2s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	display: none;

	background-color: #000000;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .2s linear;
}

.nav__link:hover {
	/* color: #fce38a; */
}

.nav__link:hover::after {
	display: block;
	opacity: 1;
}

.nav__link__dop {
	display: inline-block;
	vertical-align: top;
	margin: 0 24px;
	position: relative;
	color: black;
	text-decoration: none;
	transition: color .2s linear;
}

.nav__link__dop:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	display: none;
	
	background-color: #333;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	
	transition: opacity .2s linear;
}

.nav__link__dop:hover {
	color: #333;
}

.nav__link__dop:hover::after {
	display: block;
	opacity: 1;
}

.highlight {
	color: rgb(0, 0, 0);
	display: flex;
	margin-top: 200px;
	font-size: 16px;
	margin: 0 auto;
}

.slides {
	display: flex;
	width: 90vw;
}

.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	position: relative;
	-webkit-transition: all 700ms easy-in;
}

.panel h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}

.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

.cont__title {
	width: 850px;
	height: 250px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 40%;
	left: 0;
	margin: auto; 
}
.titles__inner {
	padding: 10px 20px;
	text-align: center;
}

.titles__inner:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #333;
	margin: 10px auto 0;
}

.pass__block {
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 200px;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}